<%= form_for(@investment_map) do |form| %>

	<%= form.label 'Summary Type', class: 'col-md-2' %>
	<%= form.select :summary_type_id, @summary_types.collect {|summary_type| [summary_type.stype, summary_type.id]}, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label 'Account', class: 'col-md-2' %>
	<%= form.select :account_id, @accounts.collect {|account| [account.account, account.id]}, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.submit 'Update Investment Map', class: 'btn btn-primary col-md-3' %>
<% end %>

