<h1><%= @title %></h1>

<%= link_to 'Add a person', new_person_path, method: :get %>

<div class='clearfix'><p>&nbsp;</p></div>

<table class='table-bordered table-striped'>

<thead>
<tr>
<th>Person</th>
<th>Last Contact</th>
<th>Note</th>
<th>Scheduled</th>
<th>Conversations</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>

<tbody>
<% @people.each do |id, values| %>
	<tr>
	<td><%= values['name'] %></td>
	<td><%= values['lastcontact'] %></td>
	<td><%= values['note'] %></td>
	<td><%= values['scheduled'] %></td>
	<td><%= link_to 'Show', conversations_path(id: id), method: :get %></td>
	<td><%= link_to 'Edit', edit_person_path(id: id) %></td>
	<td><%= link_to 'Delete', person_path(id: id), method: :delete, data: {confirm: "Delete #{values['name']}?"} %></td>
	</tr>
<% end %>
</tbody>

</table>

