<h1><%= @title %></h1>

<%= link_to 'Add a conversation', new_conversation_path(person: @person.id), method: :get %>

<div class='clearfix'><p>&nbsp;</p></div>

<table class='table-bordered table-striped'>

<thead>
<tr>
<th>Date</th>
<th>Note</th>
<th>Scheduled</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>

<tbody>
<% @conversations.each do |conversation| %>
	<tr>
	<td><%= conversation.date %></td>
	<td><%= conversation.note %></td>
	<td><%= conversation.scheduled %></td>
	<td><%= link_to 'Edit', edit_conversation_path(id: conversation.id, person: @person.id) %></td>
	<td><%= link_to 'Delete', conversation_path(id: conversation.id, person: @person.id), method: :delete, data: {confirm: "Delete #{conversation.date}?"} %></td>
	</tr>
<% end %>
</tbody>

</table>

