<%= form_for(@what) do |form| %>

	<%= form.label :what, class: 'col-md-2' %>
	<%= form.text_field :what, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label 'Category', class: 'col-md-2' %>
	<%= form.select :category_id, @categories.collect {|category| [category.ctype + '/' + category.category + '/' + category.subcategory + '/' + category.tax, category.id]}, {}, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.submit 'Update What Map', class: 'btn btn-primary col-md-3' %>
<% end %>

