<h1><%= @title %></h1>

<%= link_to 'New Map', new_what_path %>

<div class='clearfix'><p>&nbsp;</p></div>

<table class='table-striped'>

<thead>
<tr>
<th>What</th>
<th>Type</th>
<th>Category</th>
<th>Sub Category</th>
<th>Tax</th>
<th>Edit</th>
<th>Delete</th>
<th>Remap</th>
</tr>
</thead>

<tbody>
<% @whats.each do |what| %>
	<tr>
	<td><%= link_to what.what, what_path(id: what.id), method: :get %></td>
	<td><%= @categorymap[what.category_id]['ctype'] %></td>
	<td><%= @categorymap[what.category_id]['category'] %></td>
	<td><%= @categorymap[what.category_id]['subcategory'] %></td>
	<td><%= @categorymap[what.category_id]['tax'] %></td>
	<td><%= link_to 'Edit', edit_what_path(what.id) %></td>
	<td><%= link_to 'Delete', what_path(what.id), method: :delete, data: {confirm: "Delete #{what.what}?"} %></td>
	<td><%= link_to 'Remap', whats_remap_path(id: what.id) %></td>
	</tr>
<% end %>
</tbody>

</table>
