<h1><%= @title %></h1>

<%= form_for(@user, url: users_password_reset_update_path(id: @user.id), html: {method: 'put'}) do |f| %>

	<%= f.label :password, "New password", class: 'col-md-2' %>
	<%= f.password_field :password, class: 'col-md-4' %>

	<div class='clearfix'></div>

	<%= f.label :password_confirmation, "Comfirm password", class: 'col-md-2' %>
	<%= f.password_field :password, class: 'col-md-4' %>

	<div class='clearfix'></div>

	<%= f.submit 'Save changes', class: 'btn btn-large btn-primary col-xs 5 col-sm-2' %>        

<% end %>       
