<%= form_for(@whatmap) do |form| %>

	<%= form.label :whatmap, class: 'col-md-2' %>
	<%= form.text_field :whatmap, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.label 'What', class: 'col-md-2' %>
	<%= form.select :what_id, @whats.collect {|what| [what.what, what.id]}, {}, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= form.submit 'Update WhatMap Map', class: 'btn btn-primary col-md-3' %>
<% end %>

