<h1><%= @title %></h1>

<%= link_to 'New Map', new_what_map_path %>

<div class='clearfix'><p>&nbsp;</p></div>

<div>
Click on a column header to sort by that column<br/>
<input type="button" value="Show all columns" onclick="javascript:showAllColumns('table_report')"></input>
<span>(Control-click on header to hide a field)</span>
<input type="button" value="Create custom report!" onclick="javascript:createURL('table_report', 'table_urlBox')"></input>
<span id="table_urlBox"></span>
</div>

<table class='table table-bordered table-striped' id='table_report'>

<thead>
<tr>
<th class='table sorttable_alpha' id='WHAT'>What</th>
<th class='table sorttable_alpha' id='MAP'>Map</th>
<th class='table sorttable_alpha' id='EDIT'>Edit</th>
<th class='table sorttable_alpha' id='DELETE'>Delete</th>
</tr>
</thead>

<tbody>
<% @whatmaps.each do |whatmap| %>
	<tr>
	<td><%= whatmap.whatmap %></td>
	<td><%= whatmap.what.what %></td>
	<td><%= link_to 'Edit', edit_what_map_path(whatmap.id) %></td>
	<td><%= link_to 'Delete', what_map_path(whatmap.id), method: :delete, data: {confirm: "Delete #{whatmap.whatmap}?"} %></td>
	</tr>
<% end %>
</tbody>

</table>

<script type="text/javascript">
  var tableFilters = {
    sort_select: true,
    btn_reset: true,
    btn_reset_text: "Clear Filters",
    btn_text: " > ",
    alternate_rows: false,
    flt_row_class: "tableFlt",
    col_width_0: "15", //WHAT
    col_width_1: "15", //MAP
    col_width_2: "15", //TAX
    col_width_3: "1", //EDIT
    col_width_4: "1", //DELETE
    display_all_text: "<*>",
  }
  sorttable.makeSortable(document.getElementById('table_report'), 1);
  setFilterGrid('table_report', 1, tableFilters);
  setupSearch('table_report');
</script>
