<h1><%= @title %></h1>

<div class='dropdown'>
	<a href='#' data-toggle='dropdown' class='dropdown-toggle'>Choose Year <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<% @years.each do |year| %>
			<li><%= link_to year, yearbudget_index_path(year: year) %></li>
		<% end %>
	</ul>
</div>

<div class='clearfix'><p>&nbsp;</p></div>

<% @data.sort.each do |ctype, ctypedata| %>
	<h2><%= ctype %></h2>

	<table class='table-bordered table-striped'>

	<thead>
	<tr>
	<th>Cat</th>
	<th>Subcat</th>
	<th>Jan</th>
	<th>Feb</th>
	<th>Mar</th>
	<th>Apr</th>
	<th>May</th>
	<th>Jun</th>
	<th>Jul</th>
	<th>Aug</th>
	<th>Sep</th>
	<th>Oct</th>
	<th>Nov</th>
	<th>Dec</th>
	<th>Total</th>
	<th>Avg/Month</th>
	</tr>
	</thead>

	<tbody>
	<% ctypedata.sort.each do |cat, catdata| %>
		<% tcat = cat %>
		<% catdata.sort.each do |subcat, subcatdata| %>
			<tr>
			<td><%= tcat %></td>
			<% tcat = '' %>
			<% if subcat == '~' %>
				<% tsubcat = 'Total' %>
				<% tclass = 'subtotal' %>
			<% else %>
				<% tsubcat = subcat %>
				<% tclass = "" %>
			<% end %>
			<td class='<%= tclass %>'><%= tsubcat %></td>
			<% 12.times do |month| %>
				<td class='<%= tclass %> number' <%= tclass %> ><%= number_with_precision(subcatdata[month + 1], precision: 2) %></td>
			<% end %>
			<td class='<%= tclass %> number' <%= tclass %> ><%= number_with_precision(subcatdata['total'], precision: 2) %></td>
			<td class='<%= tclass %> number' <%= tclass %> ><%= number_with_precision(subcatdata['average'], precision: 2) %></td>
			</tr>
		<% end %>
	<% end %>
	<tr>
	<td colspan=2 class='totaltitle'>TOTAL</td>
	<% 12.times do |month| %>
		<td class='total'><%= number_with_precision(@ctotals[ctype][month + 1], precision: 2) %></td>
	<% end %>
	<td class='total'><%= number_with_precision(@ctotals[ctype]['total'], precision: 2) %></td>
	<td class='total'><%= number_with_precision(@ctotals[ctype]['average'], precision: 2) %></td>
	</tr>
	</tbody>

	</table>
<% end %>

