<h1><%= @title %></h1>

<% if @errors && @errors.count > 0 %>
Notes:
<table>
<% @errors.each do |error| %>
	<tr>
	<% (1..error[0]).each do |i| %>
		<td></td>
	<% end %>
	<td><%= error[1] %></td>
	<% (error[0] + 1..5).each do |i| %>
		<td></td>
	<% end %>
	<td><%= error[2] %></td>
	</tr>
<% end %>
</table>
<% end %>

<p>File is a GED file</p>

<div class='clearfix'><p>&nbsp;</p></div>

<%= form_tag geneaologies_bulkinputupdate_path, multipart: true do %>

<%= file_field_tag :document %>

<div class='clearfix'><p>&nbsp;</p></div>

<%= submit_tag 'Submit', class: 'btn btn-primary col_md_1' %>

<% end %>
