<h1><%= @title %></h1>

<div class='dropdown'>
	<a href='#' data-toggle='dropdown' class='dropdown-toggle'>From Year <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<% @pickyears.each do |year| %>
			<li><%= link_to year, summary_index_path(fromyear: year, toyear: @toyear) %></li>
		<% end %>
	</ul>
</div>

<div class='dropdown'>
	<a href='#' data-toggle='dropdown' class='dropdown-toggle'>To Year <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<% @pickyears.each do |year| %>
			<li><%= link_to year, summary_index_path(fromyear: @fromyear, toyear:year) %></li>
		<% end %>
	</ul>
</div>

<div class='clearfix'><p>&nbsp;</p></div>

<table>

<thead>
<tr>
<th>Summary</th>
<% @years.each do |year| %>
	<th><%= year %></th>
<% end %>
</tr>
</thead>

<tbody>
<% lastpriority = 0 %>
<% @summaries.each do |id, summary| %>
	<% if lastpriority + 1 != summary['priority'] %>
		<tr><td>&hbsp;</td></tr>
	<% end %>
	<% lastpriority = summary['priority'] %>
	<tr>
	<td><%= link_to summary['name'], summary_path(id: id, fromyear: @fromyear, toyear: @toyear) %></td>
	<% @years.each do |year| %>
		<td><%= link_to number_with_precision(summary[year], precision: 2), summary_path(id: id, fromyear: year, toyear: year) %>
	<% end %>
	</tr>
<% end %>
</tbody>

</table>
