<h1><%= @title %></h1>

<div class='dropdown'>
	<a href='#' data-toggle='dropdown' class='dropdown-toggle'>Choose Year <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<% @years.each do |year| %>
			<li><%= link_to year, items_path(year: year) %></li>
		<% end %>
	</ul>
</div>

<div class='clearfix'><p>&nbsp;</p></div>

<%= link_to 'Add an item', new_item_path(year: @year), method: :get %>

<div class='clearfix'><p>&nbsp;</p></div>

<table class='table-bordered'>

<thead>
<tr>
<th>Date</th>
<th>+/-</th>
<th>Check</th>
<th>What</th>
<th>Amount</th>
<th>Type</th>
<th>Category</th>
<th>Subcat</th>
<th>Tax</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>

<tbody>
<% @items.each do |item| %>
	<tr>
	<td><%= item.date %></td>
	<td><%= item.pm %></td>
	<td><%= item.checkno %></td>
	<td><%= item.what.what %></td>
	<td align='right'><%= number_with_precision(item.amount, precision: 2) %></td>
	<td><%= item.what.category.ctype %></td>
	<td><%= item.what.category.category %></td>
	<td><%= item.what.category.subcategory %></td>
	<td><%= item.what.category.tax %></td>
	<td><%= link_to 'Edit', edit_item_path(item.id) %></td>
	<td><%= link_to 'Delete', item_path(item.id), method: :delete, data: {confirm: "Delete #{item.date}, #{item.what.what}, #{item.amount}?"} %></td>
	</tr>
<% end %>
</tbody>

</table>
