<h1><%= @title %></h1>

<div class='dropdown'>
	<a href='#' data-toggle='dropdown' class='dropdown-toggle'>From Year <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<% @pickyears.each do |year| %>
			<li><%= link_to year, rentalcosts_path(fromyear: year, toyear: @toyear) %></li>
		<% end %>
	</ul>
</div>

<div class='dropdown'>
	<a href='#' data-toggle='dropdown' class='dropdown-toggle'>To Year <b class='caret'></b></a>
	<ul class='dropdown-menu'>
		<% @pickyears.each do |year| %>
			<li><%= link_to year, rentalcosts_path(fromyear: @fromyear, toyear: year) %></li>
		<% end %>
	</ul>
</div>

<div class='clearfix'><p>&nbsp;</p></div>

<% @data.sort.each do |cat, catdata| %>

	<h2><%= cat %></h2>

	<table class='table-bordered table-striped'>

	<thead>
	<tr>
	<th>Subcat</th>
	<% @years.each do |year| %>
		<th><%= year %></th>
	<% end %>
	<th>Total</th>
	<th>Avg/Year</th>
	</tr>
	</thead>

	<tbody>
	<% catdata.sort.each do |subcat, subcatdata| %>
		<% if subcat != 'Upkeep' %>
			<tr>
			<% if subcat == '~' %>
				<% tsubcat = 'Total' %>
				<td class='subtotal'>Total</td>
				<% @years.each do |year| %>
					<% if catdata['Upkeep'] && catdata['Upkeep'][year] %>
						<% t = subcatdata[year] - catdata['Upkeep'][year] %>
					<% else %>
						<% t = 0 %>
					<% end %>
					<td class='subtotal'><%= number_with_precision(t, precision: 2) %></td>
				<% end %>
				<% if catdata['Upkeep'] && catdata['Upkeep']['total'] %>
					<% t = subcatdata['total'] - catdata['Upkeep']['total'] %>
				<% else %>
					<% t = 0 %>
				<% end %>
				<td class='subtotal'><%= number_with_precision(t, precision: 2) %></td>
				<% if catdata['Upkeep'] && catdata['Upkeep']['average'] %>
					<% t = subcatdata['average'] - catdata['Upkeep']['average'] %>
				<% else %>
					<% t = 0 %>
				<% end %>
				<td class='subtotal'><%= number_with_precision(t, precision: 2) %></td>
			<% else %>
				<td><%= subcat %></td>
				<% @years.each do |year| %>
					<td class='number'><%= number_with_precision(subcatdata[year], precision: 2) %></td>
				<% end %>
				<td class='number'><%= number_with_precision(subcatdata['total'], precision: 2) %></td>
				<td class='number'><%= number_with_precision(subcatdata['average'], precision: 2) %></td>
			<% end %>
			</tr>
		<% end %>
	<% end %>
	<% if catdata['Upkeep'] %>
		<tr>
		<% subcatdata = catdata['Upkeep'] %>
		<td>Upkeep</td>
		<% @years.each do |year| %>
			<% if subcatdata[year] %>
				<td class='number'><%= number_with_precision(subcatdata[year], precision: 2) %></td>
			<% else %>
				<td class='number'>0.00</td>
			<% end %>
		<% end %>
		<td class='number'><%= number_with_precision(subcatdata['total'], precision: 2) %></td>
		<td class='number'><%= number_with_precision(subcatdata['average'], precision: 2) %></td>
		</tr>
	<% end %>
	</tbody>

	</table>
<% end %>
