<%= form_for(@jira) do |jira| %>

	<%= jira.label :summary, class: 'col-md-2' %>
	<%= jira.text_field :summary, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= jira.label :description, class: 'col-md-2' %>
	<%= jira.text_field :description, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<% if @jira.persisted? %>
		<%= jira.submit 'Update Jira', class: 'btn btn-primary col-md-2' %>
	<% else %>
		<%= jira.submit 'Create Jira', class: 'btn btn-primary col-md-2' %>
	<% end %>

<% end %>

