<%= form_for(@jira) do |jira| %>

	<%= jira.label :summary, class: 'col-md-2' %>
	<%= jira.text_field :summary, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<% if @jira.persisted? %>
		<%= jira.label :status, class: 'col-md-2' %>
		<%= jira.select :status, @statuses, {}, class: 'col-md-10' %>

		<div class='clearfix'></div>
	<% end %>

	<%= jira.label :description, class: 'col-md-2' %>
	<%= jira.text_area :description, class: 'col-md-10' %>

	<div class='clearfix'></div>

	<%= jira.label :priority, class: 'col-md-2' %>
	<%= jira.number_field :priority, class: 'col-md-2' %>

	<div class='clearfix'></div>

	<%= jira.submit 'Update Jira', class: 'btn btn-primary col-md-2' %>

<% end %>

